body {
  font-size: 11px;
  font-family: Helvetica, Verdana, "sans serif";
  color: #fff;
  background-color: #fff;
  padding: 20px 0 0 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  background-color: #B80000;
  padding: 60px 70px 60px 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  -moz-border-radius: 115px;
  border-radius: 115px;
  margin: 0;
}

ul#sites {
  list-style-type: none;
  line-height: 1.5;
  font-size: 16px;
  font-weight: normal;
  background-color: #f9c;
  padding: 50px 25px 70px 25px;
  height: 50px;
  width: 120px;
  text-align: center;
  -moz-border-radius: 115px;
  border-radius: 115px;
}

ul#social {
  margin: 0;
  list-style-type: none;
  line-height: 1.5;
  font-size: 16px;
  font-weight: normal;
  background-color: #0c9;
  padding: 50px 15px 70px 15px;
  height: 50px;
  width: 140px;
  text-align: center;
  -moz-border-radius: 115px;
  border-radius: 115px;
}

ul#footer {
  list-style-type: none;
  line-height: 1.5;
  font-size: 16px;
  font-weight: normal;
  background-color: #6cf;
  padding: 30px 15px 90px 15px;
  height: 50px;
  width: 140px;
  text-align: center;
  -moz-border-radius: 115px;
  border-radius: 115px;
}




